.header{
    font-size: medium;
}
#foto{
    width: 80%;
    max-width: 400px;
    height: 400px;
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

body{
    background-image: url("../img/foto_fondo.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align:justify; 
}

.img{
    border: 20px solid rgb(165, 165, 165);
    border-radius: 20px;
    box-shadow: 1px 1px 1000px white;
}
.informacion{
    border: 20px solid rgb(165, 165, 165);
    border-radius: 20px;
    box-shadow: 1px 1px 1000px white;
    text-align: justify;
    color: blue;
}
.span{
    color: black;
}
.a{
    font-size: 10px;
}