/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*
  index styles
*/

h1#main-title {
  color: #bf3231;
  font-family: "Redressed", cursive;
}

p {
  font-weight: 300;
  color: #111;
  font-size: 18px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/img/2234455-01.png");
  background-size: cover;
  /* background-position: center; */
}

.banner .content {
  max-width: 900px;
  text-align: start;
  background-color: #2d57b1cc;
  padding: 20px;
}

#information {
  display: none;
}

.banner .content h2 {
  font-size: 5em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Raleway", sans-serif;
}

.code {
  background-color: #162a55;
  font-family: "Source Code Pro", monospace;
  font-size: 1.2em;
  padding: 3px;
}

.banner .content h4 {
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Raleway", sans-serif;
}

.btn {
  font-size: 1em;
  color: #ffffff;
  background-color: #16b0d3;
  display: inline-block;
  padding: 10px 50px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: #204285;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.3s;
  background-color: #2d57b136;
}

header.sticky {
  background-color: #2d57b1;
  padding: 20px 100px 20px 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
}

header.sticky h6 {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #ffffff;
}

header.sticky h6 span {
  color: #ffc300;
}

header h6 {
  display: none;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

header .navigation li a:hover {
  color: #ffc300;
}

body {
  min-height: 1000px;
}

section#about {
  padding-top: 50px;
}

.row {
  width: 100%;
  padding: 10px 25px;
  display: flex;
}

.col50 {
  width: 48%;
  position: relative;
}

.col50 p,
.col60 p,
.col70 p {
  padding-right: 10px;
}

.col40 {
  width: 38%;
  position: relative;
}

.col60 {
  width: 58%;
  position: relative;
}

.title {
  color: #2a2a2a;
  margin-bottom: 10px;
}

.list-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group li {
  padding: 5px 0;
  margin-left: 30px;
}

.hyper-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px;
}

#about-img {
  width: 90%;
  min-width: 200px;
  margin-right: 30px;
}

.card-row {
  width: 100%;
  padding: 15px 50px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1em;
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0;
}

.skills-bar .bar .progress-line {
  height: 10px;
  width: 100%;
  background-color: #d1d1d1;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  position: relative;
  margin-top: 5px;
  border-radius: 10px;
}

.skills-bar .bar .progress-line span {
  height: 100%;
  background-color: #2d57b1;
  position: absolute;
  border-radius: 10px;
}

.skills-bar .bar#html .progress-line span {
  width: 80%;
}

.skills-bar .bar#js .progress-line span {
  width: 70%;
}

.skills-bar .bar#node .progress-line span {
  width: 70%;
}

.skills-bar .bar#python .progress-line span {
  width: 50%;
}

.skills-bar .bar#java .progress-line span {
  width: 80%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459);
  transition: 0.3s;
  width: 95%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card-img {
  width: 100%;
}

.card-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #2a2a2a;
  padding: 20px;
  text-align: center;
}

.card-space {
  margin-left: 10px;
}

section#song {
  padding: 20px;
  background-color: #2d56b1;
}

section#song .hyper-title {
  color: #ffffff;
}

.row-center {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.audio-card {
  width: 45%;
  background-color: #ffffff;
  border-radius: 8px;
}

.audio-card img {
  width: 100%;
}

.audio-card audio {
  width: 100%;
}

#favorite-subjects {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 25px;
}

#favorite-subjects td,
#favorite-subjects th {
  border: 1px solid #ddd;
  padding: 8px;
}

#favorite-subjects tr:nth-child(even) {
  background-color: #f2f2f2;
}

#favorite-subjects tr:hover {
  background-color: #ddd;
}

#favorite-subjects th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d56b1;
  color: white;
}

/*
  Contact page section
*/

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

#contact-body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 400px;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 30px;
  border: none;
  font-size: 16px;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}

#message {
  display: none;
}

.text-field span::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #426fd1;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -7px;
  color: #426fd1;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
  width: 100%;
}

.btn-submit {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  background-color: #2d56b1;
  border-radius: 20px;
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

form textarea {
  outline: none;
  width: 100%;
  resize: none;
  overflow: auto;
  border: 2px solid #adadad;
  font-size: 18px;
  color: #474747;
  padding: 10px;
}

div.text-center {
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.link-block {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.link-block:active {
  color: #2d56b1;
}

textarea::placeholder {
  font-size: 18px;
  color: #adadad;
}

textarea:focus,
textarea:valid {
  border: 2px solid #426fd1;
}

@media screen and (max-width: 956px) {
  .card-row {
    grid-template-columns: repeat(2, 45%);
    padding: 15px 20px;
    justify-content: center;
  }

  .col40 {
    width: 28%;
  }

  .col60 {
    width: 68%;
  }
}

@media screen and (max-width: 955px) {
  .row {
    display: block;
    align-items: center;
  }

  .col40 {
    width: 95%;
    margin-bottom: 12px;
  }

  img#about-img {
    margin: 0;
    height: 313px;
    width: 313px;
    object-fit: cover;
    border-radius: 50%;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .col60 {
    width: 100%;
  }

  .audio-card {
    width: 100%;
  }

  .col60 p {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  header .navigation {
    display: none;
  }

  .center {
    width: 75%;
  }

  header {
    padding: 30px 20px;
  }

  header.sticky {
    padding: 20px;
  }

  .menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icon/white-menu-icon.jpg");
    background-size: 35px;
    background-repeat: no-repeat;
    transition: 0.3s;
    background-position: center;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  .menu-toggle.active {
    background-image: url("../assets/icon/exit.png");
    background-position: center;
    filter: invert(1);
    background-size: 35px;
  }
}

@media screen and (max-width: 580px) {
  .card-row {
    grid-template-columns: 100%;
    padding: 15px 30px;
    justify-content: center;
    row-gap: 2em;
  }

  .center {
    width: 90%;
  }

  section#about {
    padding-top: 10px;
  }

  .card {
    width: 100%;
    align-items: center;
  }

  img#about-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
